.addon-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-top: 24px;
    gap: 1.5rem;
}

.form-step-3 {

    & .box {
        border: 1px solid var(--grey-500);
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        & input[type="checkbox"] {
            accent-color: var(--purple-600);
            transform: scale(1.3);
            user-select: none;
        }

        &:has(input[type="checkbox"]:checked) {
            border: 1px solid var(--purple-600);
            background-color: var(--blue-100);
        }
    }

}

.description {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-left: 12px;

    & .addon-title {
        color: var(--blue-950);
        font-weight: 500;
        user-select: none;
    }

    & small {
        color: var(--grey-500);
        font-weight: 500;
    }
}

.price {
    margin-left: auto;
}