@import url("./styles/layout.css");
@import url("./styles/sidebar.css");
@import url("./styles/buttons.css");
@import url("./styles/step-1.css");
@import url("./styles/step-2.css");
@import url("./styles/step-3.css");
@import url("./styles/step-4.css");

/* ==========================================================================
   1. Global Resets & Variables
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Force form elements to inherit the font-family from the body */
button,
input,
select,
textarea {
    font-family: inherit;
}

:root {

    /* colors Primary */

    --blue-950: hsl(213, 96%, 18%);
    --blue-800: hsl(213, 72%, 31%);
    --purple-600: hsl(243, 100%, 62%);
    --blue-300: hsl(228, 100%, 84%);
    --blue-200: hsl(206, 94%, 87%);
    --red-500: hsl(354, 84%, 57%);

    /* colors Neutral */

    --grey-500: hsl(231, 11%, 63%);
    --purple-200: hsl(229, 24%, 87%);
    --blue-100: hsl(218, 100%, 97%);
    --blue-50: hsl(231, 100%, 99%);
    --white: hsl(0, 100%, 100%);
}

body {
    background-color: var(--blue-100);
    display: flex;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
}



/* STEP 2 STYLES END */

/* STEP 3 */
.step-3 {
    display: none;
    width: 90%;
}

/* STEP 4 */
.step-4 {
    display: none;
    width: 90%;
}

/* STEP 5 */
.step-5 {
    display: none;
    width: 90%;
}

/* STEP 6 */